<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
  <h2>  My Tasks</h2>
  
  
    <ng-container *ngFor="let task of tasks">
      <h3>{{task.title}}</h3>
      <h3>{{task.description}}</h3>
      <!-- <button (click)="showTaskDetail(task._id, $event)">Show Details</button> -->
      <button (click)="showEditTask(task._id)">EDIT</button>
      <button (click)="deleteTask(task._id)">Delete</button>
      <button (click)="showTask(task._id)">Show</button>
      
      <app-task *ngIf="task.showTask" (taskEvent)="doThingFromTask(task)" [taskToShow]="task"></app-task>
        <ng-container *ngIf="showEdit && task.showEdit">
          <form (submit)="editTask(task._id)">
            Name:<input type ="text" name="editAtask.title" [(ngModel)]="editATask.title">
            Description:<input type="text" name="editAtask.description" [(ngModel)]="editATask.description">
            <input type="submit" value="Edit Task">
          </form>
        </ng-container>
        <hr>
    </ng-container>
  
  <button (click)="getTasksFromService($event)">Show All Tasks</button><br>

  
  <form (submit)='createTask()'>
  
      Title: <input type="text" name="newTask.title" [(ngModel)]="newTask.title"/>
      Description: <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
      <input type="submit" value="Create Task"/>
  </form>

  
</div>




