<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
  <h2>  My Tasks</h2>
  
  
    <ng-container *ngFor="let task of tasks">
      <h3>{{task.title}}</h3>
      <button (click)="showTaskDetail(task._id, $event)">Show Details</button>
    </ng-container>
  
  <button (click)="getTasksFromService($event)">Click Me</button>
  <button (click)="testingPost(true, 'get post working', 'works!')">Test Post</button>
  
  
</div>




